# cabal (old an new build dirs)
backend/dist
backend/dist-newstyle
backend/cabal.*
backend/.ghc.environment.*

# Elm stuff
frontend/elm-stuff

# Thirdparty assets
static/bootstrap.css
static/d3.js

# Compiled Elm code
static/main.js

# Nix symlinks
**/result
**/result-*
